* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

h2, h3 {
  color: white;
  text-decoration: underline;
}

p {
  margin: 7px 7px;
  border: 3px dotted goldenrod;
  display: flex;
  justify-content: center;
  color: green;
  font-weight: bolder;
}

@media (min-width: 411px) {
  .container-pokedex-figure {
    width: 45%;
  }
}
@media (min-width: 820px) {
  p {
    font-size: 25px;
    margin: 15px 15px;
    border: 10px dotted goldenrod;
  }
}
.container-nav {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 20%;
  padding: 10px;
}
.container-nav-pokeIcon {
  width: 70%;
  margin: 0 15% 0 15%;
  max-block-size: 0%;
}
.container-nav-search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container-nav-search-button {
  transition: transform 0.2s;
}

@media (min-width: 576px) {
  .container-nav-search-input, .container-nav-search-button {
    width: 40%;
    height: 40px;
    font-size: 20px;
  }
}
@media (min-width: 820px) {
  .container-nav {
    width: 100vw;
    padding-bottom: 15px;
    height: 5%;
  }
  .container-nav-pokeIcon {
    height: 1%;
    margin: 0 15% 0 15%;
  }
  .container-nav-search-input, .container-nav-search-button {
    width: 40%;
    height: 45px;
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .container-nav {
    width: 100vw;
    padding-bottom: 15px;
    height: 5%;
  }
  .container-nav-pokeIcon {
    height: 1%;
    margin: 0 15% 0 15%;
  }
  .container-nav-search-input, .container-nav-search-button {
    width: 40%;
    height: 55px;
    font-size: 20px;
  }
}
.container-item {
  padding-top: 5px;
  display: flex;
  width: 100vw;
  background-image: url("/assets/images/Pokemon_Elements_1920x1200.jpg");
}
.container-item-filter {
  width: 10vw;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.container-item-filter-btn {
  display: flex;
  flex-direction: column;
}
.container-item-filter-btn-bug, .container-item-filter-btn-dark, .container-item-filter-btn-electric, .container-item-filter-btn-fairy, .container-item-filter-btn-fighting, .container-item-filter-btn-fire, .container-item-filter-btn-ghost, .container-item-filter-btn-grass, .container-item-filter-btn-ground, .container-item-filter-btn-ice, .container-item-filter-btn-normal, .container-item-filter-btn-poison, .container-item-filter-btn-physic, .container-item-filter-btn-rock, .container-item-filter-btn-steel, .container-item-filter-btn-water {
  transition: transform 0.1s;
  margin-left: 0;
  width: 35px;
  height: 35px;
  background-size: cover;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container-item-filter-btn-bug {
  background-image: url("/PROYECTO POKEAPI/assets/images/Bug.png");
}
.container-item-filter-btn-dark {
  background-image: url("/PROYECTO POKEAPI/assets/images/Dark.png");
}
.container-item-filter-btn-electric {
  background-image: url("/PROYECTO POKEAPI/assets/images/Electric.png");
}
.container-item-filter-btn-fairy {
  background-image: url("/PROYECTO POKEAPI/assets/images/Fairy.png");
}
.container-item-filter-btn-fighting {
  background-image: url("/PROYECTO POKEAPI/assets/images/Fighting.png");
}
.container-item-filter-btn-fire {
  background-image: url("/PROYECTO POKEAPI/assets/images/Fire.png");
}
.container-item-filter-btn-ghost {
  background-image: url("/PROYECTO POKEAPI/assets/images/Ghost.png");
}
.container-item-filter-btn-grass {
  background-image: url("/PROYECTO POKEAPI/assets/images/Grass.png");
}
.container-item-filter-btn-ground {
  background-image: url("/PROYECTO POKEAPI/assets/images/Ground.png");
}
.container-item-filter-btn-ice {
  background-image: url("/PROYECTO POKEAPI/assets/images/Ice.png");
}
.container-item-filter-btn-normal {
  background-image: url("/PROYECTO POKEAPI/assets/images/Normal.png");
}
.container-item-filter-btn-poison {
  background-image: url("/PROYECTO POKEAPI/assets/images/Poison.png");
}
.container-item-filter-btn-physic {
  background-image: url("/PROYECTO POKEAPI/assets/images/Psychic.png");
}
.container-item-filter-btn-rock {
  background-image: url("/PROYECTO POKEAPI/assets/images/Rock.png");
}
.container-item-filter-btn-steel {
  background-image: url("/PROYECTO POKEAPI/assets/images/Steel.png");
}
.container-item-filter-btn-water {
  background-image: url("/PROYECTO POKEAPI/assets/images/Water.png");
}
.container-item-filter-btn-bug:hover, .container-item-filter-btn-dark:hover, .container-item-filter-btn-electric:hover, .container-item-filter-btn-fairy:hover, .container-item-filter-btn-fighting:hover, .container-item-filter-btn-fire:hover, .container-item-filter-btn-ghost:hover, .container-item-filter-btn-grass:hover, .container-item-filter-btn-ground:hover, .container-item-filter-btn-ice:hover, .container-item-filter-btn-normal:hover, .container-item-filter-btn-poison:hover, .container-item-filter-btn-physic:hover, .container-item-filter-btn-rock:hover, .container-item-filter-btn-steel:hover, .container-item-filter-btn-water:hover {
  transform: scale(1.5);
}

.container-pokedex {
  width: 90vw;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container-pokedex-figure {
  width: 90%;
  margin: 15px 5px 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/PROYECTO POKEAPI/styles/icons/580b57fcd9996e24bc43c31e.png");
  background-repeat: no-repeat;
  background-size: 60%;
  background-color: transparent;
}
.container-pokedex-figure-pokeImg {
  max-width: 70%;
  height: auto;
}

@media (min-width: 411px) {
  .container-pokedex-figure {
    width: 45%;
  }
}
@media (min-width: 768px) {
  .container-item-filter {
    width: 4vh;
  }
  .container-item-filter-btn {
    flex-wrap: wrap;
  }
  .container-item-filter-btn-bug, .container-item-filter-btn-dark, .container-item-filter-btn-electric, .container-item-filter-btn-fairy, .container-item-filter-btn-fighting, .container-item-filter-btn-fire, .container-item-filter-btn-ghost, .container-item-filter-btn-grass, .container-item-filter-btn-ground, .container-item-filter-btn-ice, .container-item-filter-btn-normal, .container-item-filter-btn-poison, .container-item-filter-btn-physic, .container-item-filter-btn-rock, .container-item-filter-btn-steel, .container-item-filter-btn-water {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 820px) {
  .container-item-filter {
    width: 9vh;
  }
  .container-item-filter-btn-bug, .container-item-filter-btn-dark, .container-item-filter-btn-electric, .container-item-filter-btn-fairy, .container-item-filter-btn-fighting, .container-item-filter-btn-fire, .container-item-filter-btn-ghost, .container-item-filter-btn-grass, .container-item-filter-btn-ground, .container-item-filter-btn-ice, .container-item-filter-btn-normal, .container-item-filter-btn-poison, .container-item-filter-btn-physic, .container-item-filter-btn-rock, .container-item-filter-btn-steel, .container-item-filter-btn-water {
    width: 55px;
    height: 55px;
  }
  .container-pokedex-figure {
    width: 32%;
  }
}
@media (min-width: 912px) {
  .container-item-filter {
    width: 4vh;
  }
  .container-item-filter-btn-bug, .container-item-filter-btn-dark, .container-item-filter-btn-electric, .container-item-filter-btn-fairy, .container-item-filter-btn-fighting, .container-item-filter-btn-fire, .container-item-filter-btn-ghost, .container-item-filter-btn-grass, .container-item-filter-btn-ground, .container-item-filter-btn-ice, .container-item-filter-btn-normal, .container-item-filter-btn-poison, .container-item-filter-btn-physic, .container-item-filter-btn-rock, .container-item-filter-btn-steel, .container-item-filter-btn-water {
    width: 60px;
    height: 60px;
  }
  .container-pokedex-figure {
    width: 20%;
  }
}
@media (min-width: 1024px) {
  .container-item-filter {
    width: 4vh;
  }
  .container-item-filter-btn-bug, .container-item-filter-btn-dark, .container-item-filter-btn-electric, .container-item-filter-btn-fairy, .container-item-filter-btn-fighting, .container-item-filter-btn-fire, .container-item-filter-btn-ghost, .container-item-filter-btn-grass, .container-item-filter-btn-ground, .container-item-filter-btn-ice, .container-item-filter-btn-normal, .container-item-filter-btn-poison, .container-item-filter-btn-physic, .container-item-filter-btn-rock, .container-item-filter-btn-steel, .container-item-filter-btn-water {
    width: 125px;
    height: 125px;
  }
}/*# sourceMappingURL=style.css.map */